/* Container for the search filter */
.searchFilterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Center the child elements */
  /* background-color: #000; */
  padding: 10px;
  max-width: 100%;
  width: 100%;
  /* Make the container take full width */
}

/* Dropdown styles */
.filterDropdown {
  position: relative;
}

.filterButton {
  background-color: #fff;
  border: none;
  padding: 10px;
  color: black;
  cursor: pointer;
  border-radius: 0px;
  font-weight: bold;
  /* Make filter button text bold */
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  color: black;
  list-style-type: none;
  padding: 5px 0;
}

.dropdownMenu li {
  padding: 5px 10px;
  cursor: pointer;
}

.dropdownMenu li:hover {
  background-color: grey;
}

/* Search input */
.searchInput {
  padding: 10px;
  margin: 0 10px;
  border: none;
  background-color: #fff;
  width: 50%;
  color: black;
}

/* Button styles */
.searchButton:hover {
  box-shadow: 0px 0px 19.152px #04f06a, 0px 0px 10.944px #04f06a,
    0px 0px 6.384px #04f06a, 0px 0px 3.192px #04f06a, 0px 0px 0.912px #04f06a,
    0px 0px 0.456px #04f06a;
}
.searchButton {
  background-color: #04f06a;
  border: none;
  padding: 10px;
  color: black;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.csvButton {
  background-color: #ff206e;
  border: none;
  padding: 10px;
  color: white;
  margin-left: 20px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* Make CSV button text bold */
}

.csvButton:hover {
  box-shadow: 0px 0px 19.152px #ff206e, 0px 0px 10.944px #ff206e,
    0px 0px 6.384px #ff206e, 0px 0px 3.192px #ff206e, 0px 0px 0.912px #ff206e,
    0px 0px 0.456px #ff206e;
}

.configureColumnsButton {
  background-color: #ff007f;
  border: none;
  padding: 10px;
  color: white;
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
  /* Make configure columns button text bold */
}
