@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  height: screen;
  color: var(--foreground);
  background: var(--background);
  font-family: var("--font-geist-mono");
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.navbar {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 260%;
  animation: scroll 30s linear infinite;

}
.logos {
  display: flex;
  white-space: nowrap;
  
}

.logos img {
  width: 100px;
  height: 100px;
  margin: 30px;
  transition: transform 0.3s;
}

.logos img:hover {
  transform: scale(1.1); 
}

@keyframes scroll {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-60.7%);
  }
}
